body {
  background-image: url('../img/cork-board.jpg');
  background-size: cover;
}

.bill {
  position: relative;
  top: 230px;
  left: 460px;
  width: 350px;
  height: 420px;
}

.frame {
  position: absolute;
  top: 200px;
  left: 400px;
  width: 500px;
  height: 500px;
}

.pin {
  position: absolute;
  top: 75px;
  left: 475px;
  width: 200px;
  height: 200px;
}
